# V.O.C.K. -- Float message definition file
#
# Format:  prefix  spec   (comma-separated tag numbers and/or ranges)
#   dcmetzge  2, 7-9   ->  tags dcmetzge2, dcmetzge7 through dcmetzge9
# Numbers are the numeric suffix of the audio tag, NOT MSG line numbers.
#

# acmorlis - Morlis
mor  20-21

# amonk5 - Brother Paul
paul 1-4, 23

# bccrissy - Chrissy
chrsy 12

# ccmandr - Navarro Base Commander
cmdr 10-11, 26

# dcflick - Flick
flick 25-29

# dcfranki - Frankie
frank 28-32

# dclara - Lara
larad 50-78

# dcmetzge - Metzger
metzg 1, 81-86

# dcrebecc - Rebecca Dyer
rbcca 85-91

# dcsheila - Sheila
shela 16

# dctubby - Tubby
tubby 14-19

# ecarthur - Arthur Pendragon
arth 13-29

# ecbridge - Bridgekeeper
brige 10-17

# eckaga1 to 5 - Kaga
kaga  6-49

# fcoz7 - AHS-7
ahs7 39-41

# fcsuze - Suze
suze 9-14

# gchank - Hank
hank 12-21

# gcskeeter - Skeeter
skeet 1-5, 65-68

# gczomak - Zomak the Destroyer
zomak 20-21

# hcchad - Chad
chad 24-35

# hceric - Eric
eric 1

# hcfranci - Francis
franc 31-43

# hcfranci - Phil (bartender, arm-wrestle scene; shares hcfranci.msg)
phil 1-17

# hczaius - Zaius
zaius 35

# kcardin - Ardin Buckner
ardin 44-53

# kcdunton - Chuck or Buck Dunton
buck 76-78

# kcjenny - Jenny
jenny 22

# kcsally - Sally Dunton
sally 28

# kctorr - Torr Buckner
torr 1-6, 30-47, 50, 53-61

# mcdavin - Davin
davin 1-7, 21-25, 40-42

# mcladdie - Laddie (lines 150-153 are floats and TH lines)
# lad

# mcvegeir - Vegeir
veger 30-34

# ncbigjes - Big Jesus Mordino
bgjes 1-11

# ncchrwri - Chris Wright
cw 1-14

# nckeiwri - Keith Wright
keith 1-5

# ocgoris - Goris
goris 46-52

# ocgrutha - Gruthar
gruth 41-43

# qcfrank - Frank Horrigan
ssa 8-12

# rcdrjohn - Painless Doc Jhonson
docj 1-8

# rclou - Louise
lou 16-18

# scelise - Elise
elise 52-55

# scrobo - Robodog
dogr 16-32

# scvortis - Vortis
vort 42-44

# slvcc1 - Don
don 13-16

# tribec1 - Krom
krom 61-62

# tribec7 - Kurisu
kur 22-26

# vcandy - Doctor Andrew
andr 45, 57

# vcdwnbar - Lydia
lydia 34-47

# vcoldjoe - Old Joe
ianoj 23-28

# vilann - Ann
annvv 8-14